<h1> Dreams </h1>
<ul>
    <% @dreams.each do |dream|%>
      <li><h3><%= link_to dream.title, dream_path(dream)%></h3></li>
    <%end%>
</ul> 

<h2><%= link_to "Keep Dreaming", new_dream_path %>
</h2>
